/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse {font-size:18px; width:100%;}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  
}

nav.nav-collapse ul ul.submenu {display: none;font-weight:200; padding-top:1%;}
nav.nav-collapse ul li:hover > ul {display: block; position:relative; float:left; font-weight:200;}

.nav-collapse li {
  width: 100%;
  display: block;
  padding-top: 1em;
}

.nav-collapse a {text-decoration:none; color: #777777;}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
padding:0.5em;
margin:1em;
font-size:18px;
text-decoration:none;
color:#d45f4a;
 
}

@media screen and (min-width: 45em) {
  .js .nav-collapse {
    position: relative;
  }
  
  .nav-collapse li {
  width: 100%;
  display: inline;
  margin-right:1%;
  padding:0;
  position:static;
 
}

 .nav-collapse li a:hover {
  color:#D35F49;
 
}
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }  

}
