@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
@import url(grid.css);

/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/

#kolom-left {float:left; width:50%;}
#kolom-left h4 {margin:0;}
#kolom-right {float:right; width:50%;}
#kolom-right h4 {margin:0;}
#kolom a {text-decoration: none; color: #b3721d;}

.align-center {
  display:none;
  margin:auto auto;}

#quote {font-size:1em;line-height:1.2;
font-family:'Roboto'; 
font-weight:300;padding-bottom:3%;}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style:none;
}

.flat-form {
  position: relative;
  font-family: 'Roboto';
}
.form-action {
  padding: 0 5px;
  position: relative;
}

.form-action h1 {
  font-size: 1em;
  padding-bottom: 10px;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit],
.name {
  font-family: 'Roboto';
}

form input[type=text],
form input[type=password],
.name {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #e74c3c;
  outline: none;
}
.button {
	margin-right:10px;
    border: none;
    display: inline;
    background: #D35F49;
	height: 30px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.long {width:100%; padding:0;}

.button-wachtwoord {
	float: left;
	border: none;
	display: inline;
	height: 30px;
	color: #AAAAAA;
	text-align: center;
	font-size:small;
}

.button:hover {
  background: #F1EAEA;
  color: #e74c3c;
}

.button-wachtwoord:hover {
 color: #000000;
}

.tab-content{
			display: none;
			padding: 15px;
		}

.tab-content.current{
			display: inherit;
		}  
  
.footer ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: rgba(168, 166, 166, 0.50);
	list-style:none;
}

.footer ul li:last-child {border-bottom:none;}

.inschrijfbutton {
	background-color:#faffe6;
	border:1px solid #dddfd7;
	display:inline-block;
	cursor:pointer;
	color:#ac3e28;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.inschrijfbutton:active {
	position:relative;
	top:1px;
}

.breadcrumb { margin:0;
	padding:0;
	font-size:small;
}
.breadcrumb li {
    display: inline;
	font-size:small;
	text-decoration:none;
	margin:0;
	padding:0;
}
.breadcrumb li+li:before {
    content:"/ ";
}

.breadcrumb a {text-decoration:none;
	color:#d45f4a;}

/* Containers
----------------------------------------------------------------------------------------------------*/
Body {
	background-color: #E0E0E0;
	line-height: 22px;
	color: #777777;
	font-family: 'Roboto';
	font-size: 1em;
}

.container_12 {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.header {margin-top:3%;
margin-bottom:3%;
position:relative;}

.header div[class*='grid_'] {margin-bottom:2%;}

.top {position: relative;}

.top div[class*='grid_'] {background-color:#f5f5f5; margin-bottom:2%;}
.top div[class*='grid_'] a {color: #d45f4a;
font-weight: 300; text-decoration:none;}

.top p, h2{padding-left:20px; padding-right:20px;}

.top img {padding-top: 20px; }

img {max-width:100%;height:auto;}

.bottom div[class*='grid_'] {background-color:#f5f5f5;min-height:250px;}

.content div[class*='grid_'] {background-color:#f5f5f5;min-height:350px; font-size:medium; margin-right:1%;}

.content-top div[class*='grid_'] {
	background-color: #f5f5f5;
	min-height: 200px;
	font-size: medium;
}

.content a {text-decoration:none; color:#F60;}

.content p, h3 {padding-left:2%; padding-right:2%}
.content-top p, h3, h4 {padding-left:5%; padding-right:5%; list-style:none;}
.contentimage {float: center; padding:0% 3% 0% 3%;}

#contentmenu {margin-left:0; padding-right:1%;}

#contentmenu ul {padding-top:10%; list-style:none; padding-left:0;}

#contentmenu li {cursor: pointer;margin-bottom:8%; padding:4%; background-color: #FFF; border:1px solid #dddddd; border-radius:5px;}

#socialmedia {background-color:#d45f4a;}

h3,h2,h4,em {
	color: #d45f4a;
	font-weight: 300;
	text-decoration:none;
}

h4 { font-weight: normal;}


.social-icons {
  list-style:none;
  margin-left:auto;
  margin-right:auto;
  padding:30px;}

.social-icons li {margin: 20 px 0;  padding-bottom:20%}
.social-icons li:last-child {padding-bottom:0;}
  
.social-icons li a {text-decoration:none; color:#FFF;;}

.prijzenpot, .deelnemers {padding-left:20px; list-style-position:inside; padding-bottom:20px;}

.date {
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #d45f4a;
  padding: 10px 20px 10px 20px;
  margin-right:10px;
  text-decoration: none;
}

.maandtitel {margin:2% 2% 2% 2%}
.maandtitel h2{
	display:inline;
}

@media screen and (min-width: 45em) {

#quote {line-height:1.2;
font-family:'Roboto'; 
font-weight:100; 
font-size:2em;
padding-bottom:3%;}

.align-center {
  display:block;
  margin:auto auto;
}

.contentimage {float:Left;padding:0% 3% 0% 3%;}

.selectie {width:90px; font-size:small;}
}