@charset "utf-8";
/* CSS Document */
.datagrid table {
	border-collapse: collapse;
	width: 96%;
	text-align: center;
	margin:0 2%;
} 
.datagrid {background: #f5f5f5; overflow: hidden; font-size: 12px;font-weight: normal;}
.datagrid table td, .datagrid table th { padding: 10px 10px; }
.datagrid table thead th {; color:#d45f4a; font-size: 15px; font-weight: bold; text-align: center;} 
.datagrid table thead th:first-child {border: none;}
.datagrid table tbody tr:nth-child(odd) {background: #FFF;}
.datagrid table tbody .qualified td { background:  #CCFF99;}
.datagrid table tbody .online td { background: #FF9;}
.datagrid table tbody .qualifiednext td { background:#FDC04F;}
.datagrid table tbody .wildcard td { background:#FC9CEE;}
.datagrid table thead th:nth-child(1),
.datagrid table td:nth-child(1),
.datagrid table thead th:nth-child(5),
.datagrid table td:nth-child(5),
.datagrid table thead th:nth-child(7),
.datagrid table td:nth-child(7) {display:none; visibility:hidden;}

@media screen and (min-width: 45em) {
.datagrid table thead th:nth-child(1),
.datagrid table td:nth-child(1),
.datagrid table thead th:nth-child(5),
.datagrid table td:nth-child(5),
.datagrid table thead th:nth-child(7),
.datagrid table td:nth-child(7) {display:table-cell; visibility: visible;}
}

.datagrid-klassement table {
	border-collapse: collapse;
	width: 96%;
	text-align: center;
	margin:0 2%;
} 

.datagrid-klassement {background: #f5f5f5; overflow: hidden; font-size: 12px;font-weight: normal;}
.datagrid-klassement table td, .datagrid-klassement table th { padding: 10px 10px; }
.datagrid-klassement table thead th {; color:#d45f4a; font-size: 15px; font-weight: bold; text-align: center;} 
.datagrid-klassement table thead th:first-child {border: none;}
.datagrid-klassement table tbody tr:nth-child(odd) {background: #FFF;}
.datagrid-klassement table tbody .qualified td { background:  #CCFF99;}
.datagrid-klassement table tbody .online td { background: #FF9;}
.datagrid-klassement table tbody .qualifiednext td { background:#FDC04F;}
.datagrid-klassement table tbody .wildcard td { background:#FC9CEE;}
.datagrid-klassement table thead th:nth-child(5),
.datagrid-klassement table td:nth-child(5),
.datagrid-klassement table thead th:nth-child(6),
.datagrid-klassement table td:nth-child(6),
.datagrid-klassement table thead th:nth-child(7),
.datagrid-klassement table td:nth-child(7) {display:none; visibility:hidden;}

@media screen and (min-width: 45em) {
.datagrid-klassement table thead th:nth-child(5),
.datagrid-klassement table td:nth-child(5),
.datagrid-klassement table thead th:nth-child(6),
.datagrid-klassement table td:nth-child(6),
.datagrid-klassement table thead th:nth-child(7),
.datagrid-klassement table td:nth-child(7) {display: table-cell; visibility: visible;}
}

@media screen and (max-width: 450px) {
.datagrid-klassement table thead th:nth-child(3),
.datagrid-klassement table td:nth-child(3),
.datagrid-klassement table thead th:nth-child(5),
.datagrid-klassement table td:nth-child(5),
.datagrid-klassement table thead th:nth-child(6),
.datagrid-klassement table td:nth-child(6),
.datagrid-klassement table thead th:nth-child(7),
.datagrid-klassement table td:nth-child(7) {display: none; visibility: hidden;}
}

#qualified {background-color:#74FF72;}
#qualifiednext {background-color:#FDC04F;}
#online {background-color:#D8FF00;}
#wildcard {background-color:#FC9CEE;}
