<head>
<style type="text/css">
<!--
A:link { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: black; TEXT-DECORATION: none }
A:hover { COLOR: #C12025; TEXT-DECORATION: none; font-weight: normal }
-->
</style>
</head>



<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="25%" align="center"><img border="0" src="img/renner.png" width="40" height="40"></td>
    <td width="25%" align="center"><img border="0" src="img/uitslag.png" width="40" height="40"></td>
    <td width="25%" align="center"><img border="0" src="img/wedstrijd.png" width="40" height="40"></td>
    <td width="25%" align="center"><img border="0" src="img/plaats.png" width="40" height="40"></td>
  </tr>
  <tr>
    <td colspan="4"></td>
  </tr>
  <tr>
    <td width="25%" align="center">
      <p align="center"><font size="2" face="Trebuchet MS"><b>Renner</b></font></td>
    <td width="25%" align="center"><font size="2" face="Trebuchet MS"><b>Uitslag</b></font></td>
    <td width="25%" align="center"><font size="2" face="Trebuchet MS"><b>Wedstrijd</b></font></td>
    <td width="25%" align="center"><font size="2" face="Trebuchet MS"><b>Plaats</b></font></td>
  </tr>
  <tr>
    <td colspan="4"></td>
  </tr>
  <tr>
    <td width="25%" align="center">
      <p align="center"><font size="2" face="Trebuchet MS"><a href="adminpage.php" target="down">Add</a></font></td>
    <td width="25%" align="center"><font size="2" face="Trebuchet MS"></font></td>
    <td width="25%" align="center"><font size="2" face="Trebuchet MS"><a href="add_wedstrijd.php" target="down">Add</a></font></td>
    <td width="25%" align="center"><font size="2" face="Trebuchet MS"></font></td>
  </tr>
  <tr>
    <td width="25%" align="center"><font size="2" face="Trebuchet MS"></font></td>
    <td width="25%" align="center"><font size="2" face="Trebuchet MS"></font></td>
    <td width="25%" align="center"><a href="overzicht_wedstrijd.php" target="down">Update</a></td>
    <td width="25%" align="center"></td>
  </tr>
</table>
